* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display";
}

/* Header/Nav */
header {
  background-color: #59499e;
  display: flex;
  color: white;
  font-family: "Red Hat Display";
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  padding: 0 5vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 10;
}

.logo {
  height: 8.5vh;
  width: 8.5vh;
  cursor: pointer;
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  width: 62vw;
  margin-right: 2vw;
}

.shortform {
  display: block;
}

.fullform {
  display: none;
}

.side-ham {
  cursor: pointer;
}

.ham-line {
  height: 9px;
  width: 70px;
  border-radius: 4px;
  background-color: white;
}

.ham-line:nth-child(2) {
  margin: 9px 0;
}

header > .title > p {
  font-size: 2.8rem;
}

/* Main-content */
body {
  background-color: #efefef;
  /* background-color: rgb(41, 41, 41); */
}

.main-content {
  width: 100vw;
  height: auto;
  margin-top: 12vh;
}

.page-title {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title p {
  font-size: 4rem;
  font-weight: 450;
  margin-left: 30px;
}

.mini-nav {
  background-color: #59499e;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  justify-content: space-evenly;
  height: 7vh;
}

.mini-nav > li {
  /* width: 25vw; */
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
}

li.tr {
  display: none;
}

/* Slider */
.swiper-container {
  width: 100%;
  height: 30vh;
  margin-top: 3vh;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#i1 {
  background-image: url("../assets/bkg.png");
}
#i2 {
  background-image: url("../assets/bkg.png");
}
#i3 {
  background-image: url("../assets/bkg.png");
}
#t1 {
  background-image: url("../assets/image.jpg");
}
#t2 {
  background-image: url("../assets/image.png");
}
#t3 {
  background-image: url("../assets/bkg.png");
}
.main-content .swiper-button-prev,
.main-content .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.25);
  height: 7vh;
  width: 5vh;
}

.main-content .swiper-button-prev {
  left: 0;
}

.main-content .swiper-button-next {
  right: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  font-size: 2rem;
}

.main-content
  .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 5px 12px;
}

.main-content .swiper-pagination-bullet {
  height: 30px;
  width: 30px;
  opacity: 1;
  background-color: white;
}

.main-content .swiper-pagination-bullet-active {
  background: #59499e;
  border: 2px solid white;
}

.card-box {
  width: 100vw;
}

.card {
  height: auto;
  margin: 3vh auto;
  width: 90vw;
  padding: 40px;
  background-color: white;
  box-sizing: border-box;
  font-size: 2rem;
  line-height: 1.4;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}

/* Bulletin */
.timeline {
  position: relative;
  max-width: 85vw;
  margin: 0 auto;
  box-sizing: border-box;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #59499e;
  top: 0;
  bottom: 0;
  /* margin: 25% 0 0; */
}

.container {
  width: 78vw;
  margin-right: 0;
  position: relative;
}

.container:nth-child(1) {
  margin-top: 2vh;
}

.container::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  /* right: -17px; */
  background-color: #59499e;
  top: 48%;
  right: calc(85vw - 20px);
  border-radius: 50%;
  z-index: 1;
}

.container > .content > p {
  font-size: 1.5rem;
  font-weight: 500;
}

.container > .content > h6 {
  color: #59499e;
  margin-top: 25px;
  text-transform: uppercase;
  font-size: 1.3rem;
}

/* Team */
.social-box {
  margin-right: 3vw;
}

.social img {
  height: 3.5vh;
  margin-right: 4vw;
}

.team-image {
  background-image: url("../assets/image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 33vh;
  width: 100vw;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

.bg {
  height: 6vh;
  width: 50vw;
  margin: 2vh auto;
  display: flex;
  background-color: #59499e;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

.boys,
.girls {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: white;
}

.selected {
  background-color: #35bee0;
}

.members {
  padding: 40px 90px 40px 60px;
}

.members .boysquad p,
.members .girlsquad p {
  font-size: 2.4rem;
  font-weight: 500;
}

.captain {
  display: flex;
  justify-content: space-between;
}

.captain p {
  color: #59499e;
}

.bottom {
  width: 100%;
  display: flex;
}

.players {
  width: 70%;
}

.navigator {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.buttons {
  width: 90%;
  display: flex;
}
.down {
  transform: rotateZ(180deg);
  transition: transform 500ms ease-in;
}
.prev,
.next {
  height: 5vh;
  width: 50%;
  background-color: #59499e;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev img,
.next img {
  height: 2vh;
}

.buttons .inactive {
  background: rgba(89, 73, 158, 0.2);
}

/* Hall of Fame */
.hof {
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 33vh;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-top: 1vh;
}

.hover {
  background: linear-gradient(
    180deg,
    rgba(89, 73, 158, 0.95) 22.01%,
    rgba(89, 86, 201, 0.5) 132.01%
  );
  top: 25vh;
  height: 100%;
  width: 100%;
  padding: 25px 7vw;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  transition: top 500ms ease-in, padding 500ms ease-in;
  /* top: 25vh;
        padding-top: 25px; */
}

/* Click State */
/* .hof-card-box .card:nth-child(2) .hover {
  top: 25vh;
  padding-top: 25px;
  background: linear-gradient(
    180deg,
    rgba(89, 86, 201, 0.75) 22.01%,
    rgba(89, 86, 201, 0.5) 132.01%
  );
} */
.hof:hover {
  cursor: pointer;
}
.hof:hover .hover {
  background: linear-gradient(
    180deg,
    rgba(89, 73, 158, 0.95) 22.01%,
    rgba(89, 86, 201, 0.5) 132.01%
  );
  height: 100%;
  width: 100%;
  padding: 60px 7vw;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
}
.hof:hover > .hover > .card-title > .down {
  transform: rotateZ(0deg);
}
.hof-card-box {
  margin-bottom: 8vh;
}

.hof .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 3.1vh;
}

.hof .card-title p {
  font-size: 3.8rem;
}

.hof .card-title div {
  background-image: url("../assets/down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 2vh;
  width: 3vh;
}

.hof .card-title .none {
  visibility: hidden;
}

.features ul li {
  color: white;
  font-size: 2.3rem;
  margin-left: 2vw;
  margin-bottom: 0.8vh;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #59499e;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  text-align: center;
  color: white;
  flex-direction: column;
  padding: 20px;
}
footer span {
  font-size: 1.4rem;
}

footer .divider {
  display: none;
}
/* ******************************************************** */
/* ******************************************************** */
/* Desktop Queries */
@media screen and (min-width: 600px) and (orientation: landscape) {
  body {
    overflow-x: hidden;
  }

  body::-webkit-scrollbar {
    width: 0.5vw;
  }

  body::-webkit-scrollbar-thumb {
    background: #555;
  }

  header {
    padding: 0 2vw;
    box-sizing: border-box;
    width: 100vw;
    height: 9vh;
    justify-content: flex-start;
  }

  .logo {
    margin-right: 15px;
    height: 6.5vh;
    width: 6.5vh;
  }

  .side-ham {
    display: none;
  }

  header > .title > p {
    font-size: 1.15rem;
  }

  .shortform {
    display: none;
  }

  header > .title > .fullform {
    display: block;
    font-size: 1.05rem;
  }

  .main-content {
    margin-top: 9vh;
  }

  .page-title {
    height: 8vh;
  }

  .page-title p {
    font-size: 1.8rem;
    margin-left: 2.45vw;
  }

  .mini-nav {
    padding: 4px 0;
    box-sizing: border-box;
    height: 6.5vh;
  }

  .mini-nav > li {
    font-size: 1.1rem;
    cursor: pointer;
    width: 25vw;
    border-right: 1px solid white;
  }

  /* .border {
            content: '';
            background-color: white;
            height: 98%;
            width: 1px;
        } */

  li.t {
    display: none;
  }

  li.tr {
    display: flex;
  }

  .main-content .swiper-button-next {
    right: 0.5vw;
  }

  .main-content
    .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    margin: 3px 9px;
    border: 1.5px solid white;
  }

  .firstswp {
    margin-top: 1.5vh;
    height: 75vh;
    box-shadow: none;
  }

  .secondswp {
    margin-top: 1vh;
    height: 82vh;
    box-shadow: none;
  }
  .main-content .swiper-button-prev,
  .main-content .swiper-button-next {
    display: none;
  }

  .card-box,
  .desc {
    margin: 0;
    width: 30vw;
  }

  .card-box {
    position: absolute;
    top: 41vh;
    right: 0;
    z-index: 5;
  }

  .desc {
    background: linear-gradient(
      180deg,
      rgba(89, 73, 158, 0.65) 1.01%,
      rgba(38, 168, 201, 0.65) 101.01%
    );
    color: white;
    padding: 40px 30px;
    font-size: 1.2rem;
    text-align: justify;
  }

  .team-image {
    height: 80vh;
  }

  .bulletin {
    min-height: 100vh;
    background-image: url("../assets/bkg2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-y: visible;
    padding-bottom: 5vh;
  }

  .bulletin .page-title {
    color: white;
    padding-top: 9vh;
  }

  .timeline {
    margin-left: 5vw;
  }

  .timeline::after {
    width: 4px;
    border-radius: 2px;
  }

  .container {
    padding: 25px;
    width: 55vw;
    margin-left: 80px;
    margin-right: auto;
  }

  .container > .content > p {
    font-size: 1.2rem;
  }

  .container > .content > h5 {
    font-size: 1.05rem;
    margin-top: 8px;
  }

  .timeline::after,
  .container::after {
    background-color: white;
  }

  .container::after {
    height: 20px;
    width: 20px;
    right: calc(55vw + 68px);
  }
  .hof-card-box {
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/hofbg.png");
  }
  .bg {
    width: 25vw;
  }
  .boys,
  .girls {
    font-size: 1.5rem;
  }
  .members {
    width: 60%;
  }
  .players p,
  .captain p {
    font-size: 2rem;
  }
  .hof-card-box {
    margin-bottom: 0;
  }
  .card-container {
    width: 50%;
    display: flex;
    margin-top: 5vh;
  }
  .hof {
    width: 330px;
    height: 210px;
  }
  .hof .card-title p {
    font-size: 1.5rem;
  }
  .hof .card-title {
    width: 100%;
  }
  .hover {
    background: linear-gradient(
      180deg,
      rgba(89, 73, 158, 0.95) 22.01%,
      rgba(89, 86, 201, 0.5) 132.01%
    );
    top: 170px;
    height: 100%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    transition: top 500ms ease-in, padding 500ms ease-in;
  }
  .hof:hover .hover {
    background: linear-gradient(
      180deg,
      rgba(89, 73, 158, 0.95) 22.01%,
      rgba(89, 86, 201, 0.5) 132.01%
    );
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
  }
  .down {
    margin-right: 10px;
    transform: rotateZ(180deg);
    transition: transform 500ms ease-in;
  }
  .features ul li {
    font-size: 1rem;
  }
  .container > .content > p {
    font-size: 1.3rem;
  }
  .container > .content > h6 {
    font-size: 1rem;
  }
  footer {
    display: block;
    height: auto;
    position: relative;
    padding: 5px;
  }
  footer span {
    display: inline;
    font-size: 0.9rem;
  }
  footer .divider {
    display: inline-block;
  }
}
