<!DOCTYPE html>
<html>
    <head>
        <title>Sports Council | BITS Pilani</title>
        <link rel="stylesheet" type="text/css" href="../css/ibosm.css" >
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--Navbar-->
        <div class="navbar">
            <div class="su-logo">
              <div class="logo"></div>
              <div class="title">
                <p>Sports Council</p>
                <p class="shortform">BITS Pilani</p>
                <p class="fullform">
                  Birla Institute of Technology and Science, Pilani
                </p>
              </div>
            </div>
            <ul class="options">
              <li>About</li>
              <li>Sports</li>
              <li>Calendar</li>
              <li class="ibosm">iBOSM</li>
              <li>Developers</li>
            </ul>
      
            <!--add this-->
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"
              ><span class="nav-icon"></span
            ></label>
      
            <!--change to ul-->
            <ul class="nav-options" style="display: none;">
              <li>About</li>
              <li>Sports</li>
              <li>Calendar</li>
              <li>iBOSM</li>
              <li>Developers</li>
            </ul>
            <!-- <ul class="nav-links">
              <li><a href="#" class="a">Link1</a></li>
              <li><a href="#" class="a">Link2</a></li>
              <li><a href="#" class="a">Link3</a></li>
            </ul> -->
          </div>

          <div class="first-page">
              <div class="wrap">
                <div class="social invisible">
                    <a class="social" href="https://www.facebook.com">
                        <img src="../assets/fb-white.png" />
                      </a>
                      <a class="social" href="https://www.instagram.com">
                        <img src="../assets/insta-white.png" />
                      </a>
                </div>
                <div class="big-title">
                    <div class="head">iBOSM</div>
                    <div class="date">5th April - 8th April 2020</div>
                </div>
                <div class="social-box">
                    <a class="social" href="https://www.facebook.com">
                        <img src="../assets/fb-white.png" />
                      </a>
                      <a class="social" href="https://www.instagram.com">
                        <img src="../assets/insta-white.png" />
                      </a>
                </div>
              </div>

              <div class="fp-options">about</div>
              <div class="fp-options">schedule</div>
              <div class="fp-options">gallery</div>

              <section id="section04" class="demo">
                <a href="#"><span></span></a>
              </section>
          </div>

        <!--Footer-->
        <footer>
            <div></div>
        </footer>
    </body>
</html>